
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;
  transition: opacity  $transitionDuration  $cubicBezier,
    visibility  $transitionDuration  $cubicBezier;

    &.is-hidden {
    visibility: hidden;
    pointer-events: none;

    opacity: 0;
    }

    &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}
}


