
.contact {
    display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1230px) {
    display: flex;
    gap: 50px;
  }

    &-item {
    align-items: center;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1229px) {
    &-item:not(:last-child) {
      margin-bottom: 10px;
    }
    }
    

    &-link {
    display: flex;
    align-items: center;

    color: $colorPrimaryText;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.02em;
    
    transition: color  $transitionDuration  $cubicBezier;

    @media screen and (min-width: 1230px) {
      font-size: 14px;
      line-height: calc(16/14);
    }
    }

    &-icon {
    fill: currentColor;
    margin-right: 10px;}
        

      &-icon-envelope {
      @media screen and (min-width:768px) and (max-width:1229px) {
        width: 14px;
        height: 10px;
      };
      }

      &-icon-smartphone {
      @media screen and (min-width:768px) and (max-width:1229px) {
        width: 10px;
        height: 14px;
      };
      }

    &-link:hover,
    &-link:focus {
    color: $colorAccent;
    }
}


