.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 528px;
  padding: 40px;

  background-color: $colorHeaderBg;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform  $transitionDuration  $cubicBezier;

    &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;

    color: $colorSecondaryText;
    }

    &-field {
    position: relative;
    margin-bottom: 10px;
    }

    &-label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    }

    &-user-icon {
    position: absolute;
    left: 15px;
    top: 50%;

    transition: fill  $transitionDuration  $cubicBezier;
    }

    &-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0;
    margin: 0;
    padding-left: 42px;
    outline: transparent;

    transition: border-color  $transitionDuration  $cubicBezier;
    }

    &-input:focus {
    border-color: $colorAccent;
    }

    &-input:focus + .modal-user-icon {
    fill: $colorAccent;
    }

    &-comment {
    display: block;
    width: 100%;
    min-height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    outline: transparent;
    resize: none;

    transition: border-color  $transitionDuration  $cubicBezier;
    }

    &-comment:focus {
    border-color: $colorAccent;
    }

    &-comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
    }
}



.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &-label {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  line-height: 1.71;

  margin-bottom: 30px;
}

&-icon-none {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  opacity: 1;

  transition: opacity  $transitionDuration  $cubicBezier;
}

&-icon {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  opacity: 0;

  fill: $colorAccent;

  transition: opacity  $transitionDuration  $cubicBezier;
}

&:checked ~ &-icon-none {
  opacity: 0;
}

&:checked ~ &-icon {
  opacity: 1;
}

&-link {
  color: $colorAccent;
  margin-left: 5px;
}
}



.modal-btn-submit {
  padding: 10px 52px;
  min-width: 200px;
  margin: 0 auto;

  display: flex;

  background-color: $colorAccent;
  color: $colorHeaderBg;

  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;

  transform: box-shadow  $transitionDuration  $cubicBezier;

    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}



.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

 
  // display: flex;
  // justify-content: center;
  // align-items: center;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill  $transitionDuration  $cubicBezier;

    &:hover,
    &:focus {
    fill: $colorAccent;
    }
}

