.subscription {
    
    &-wrapper {

    @media screen and (min-width: 1230px) {
    display: flex;
    align-items: baseline;
    gap: 12px;
    }
    

    }

    &-input {
    
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color:  $colorFooterBg;
    color: $colorHeaderBg;

    @media screen and (min-width: 1230px) {
    width: 358px;
    display: inline-flex;
    margin-right: 0;
    margin-left: 0;
        
    }
    }

    &-btn {
    @extend %btn;
    
    min-width: 200px;
    height: 50px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: $colorAccent;
    color: $colorHeaderBg;

    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;

    transform: box-shadow  $transitionDuration  $cubicBezier;
    }

    &-btn .send-icon {
    fill: $colorHeaderBg;
    margin-left: 10px;
    }

    &-btn:hover,
    &-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}