  $colorHeaderBg: #ffffff;
  $colorHeaderFrame: #ececec;

  $colorLogoBlack: #000000;

  $colorPrimaryText: #757575;
  $colorSecondaryText: #212121;

  $colorAccent: #2196f3;

  $colorSecondaryBg: #f5f4fa;
  $colorTeamBg: #eeeeee;

  $colorHeroBg: #c4c4c4;
  $colorHeroBgGradient: rgba(47, 48, 58, 0.4);

  $colorClientBg: #afb1b8;

  $colorFooterBg: #2f303a;
  $colorFooterText: rgba(255, 255, 255, 0.6);

  $transitionDuration: 250ms;
  $cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
