
.features {
  
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  

  &--item {
    width: 100%;

    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    }

     @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
    }
  }

  &--item:not(:last-child) {
    margin-bottom: 30px; 
  }

  &--pic {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &--title {
    text-align: center;
    margin-bottom: 10px;
    color: $colorSecondaryText;
  }

  &--text {
    line-height: 1.71;
  }
}

