
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color:  $colorFooterBg;
  text-align: center;

    &-flex {
    
    @media screen and (min-width: 768px) {
        display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       align-items: baseline;
        }

    @media screen and (min-width: 1230px) {
       display: flex;
       align-items: baseline;
       justify-content: space-between;
    }
    }
    

    &-logo {
    margin-bottom: 20px;
   
    }

    &-call-to-action {
    margin-bottom: 20px;
    font-weight: 700;
    color: $colorHeaderBg;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (min-width: 1230px) {
        text-align: start;
    }
}
    &-address {
        @media screen and (min-width: 1230px) {
        text-align: left;
        }
    }
}

.address {

    &-list {
        margin-bottom: 60px;
    }

    &-item:not(:last-child) {
        margin-bottom: 8px;

        @media screen and (min-width: 1230px) {
        margin-bottom: 9px;
        }
    }

    &-link {
    line-height: 1.71;
    }

    &-link.primary {
    color: $colorHeaderBg;

    transition: color  $transitionDuration  $cubicBezier;
    }

    &-link.secondary {
    color:  $colorFooterText;

    transition: color  $transitionDuration  $cubicBezier;
    }

    &-link.primary:hover,
    .address-link.primary:focus {
    color: $colorAccent;
    }

    &-link.secondary:hover,
    &-link.secondary:focus {
    color: $colorAccent;
    }

}


.footer-social {

    &-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 60px;
    }

    &-item {
    width: 44px;
    height: 44px;
    }

    &-link {
           
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $colorHeaderBg;

    transition: background-color  $transitionDuration  $cubicBezier;
    }

    /* &-icon {
    fill: $colorHeaderBg;
    } */

    &-link:hover,
    &-link:focus {
    background-color: $colorAccent;
    }

}


