.header {
  background-color: $colorHeaderBg;
  border-bottom: 1px solid $colorHeaderFrame;
  padding-top: 24px;
  padding-bottom: 25px;
  height: 80px;

    // &-items {
  
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // }

    &-logo {
    margin-right: 93px;
    }
}

