.header {
  background-color: $colorHeaderBg;
  border-bottom: 1px solid $colorHeaderFrame;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;

  // padding-top: 24px;
  // padding-bottom: 25px;
  // height: 80px;
    &-mobile {
      display: flex;
      justify-content: space-between;
    }

    // &-items {
  
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // }

    &-logo {
    // margin-right: 93px;
    }

    &-menu-btn {
      display: inline-flex;
      margin: 0;
      padding: 0;
      border: none;
      border-color: transparent;
    }
}

