.hero {
  text-align: center;
  background-image: $gradientHero,
    url(../images/hero/hero-bg-mob.jpg);

  @include retina {
  background-image: $gradientHero,
    url(../images/hero/hero-bg-mob-2x.jpg);
}

  background-color: $colorHeroBg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;

  @media screen and (min-width: 768px) {
    background-image: $gradientHero,
    url(../images/hero/hero-bg-tab.jpg);
    

    @include retina {
    background-image: $gradientHero,
      url(../images/hero/hero-bg-tab-2x.jpg);
  } 
  }
  

  @media screen and (min-width: 1200px) {
    
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: $gradientHero,
    url(../images/hero/hero-bg-desk.jpg);

    @include retina {
    background-image: $gradientHero,
      url(../images/hero/hero-bg-desk-2x.jpg);
  } 
  }
  

  &--title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: $colorHeaderBg;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  font-size: 26px;
  line-height: calc(42 / 26);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

&--button {
  @extend %btn;
  
  padding: 10px 32px;
  min-width: 216px;
  margin: 0 auto;

  display: flex;

  background-color: $colorAccent;
  color: $colorHeaderBg;

  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;

  transform: box-shadow  $transitionDuration  $cubicBezier;
}

&--button:hover,
&--button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}


