.work {
padding-top: 0;

@media screen and (max-width: 1229px) {
   display: none;
}

// display: none;

//  @media screen and (min-width: 1230px) {
//     display: block;
//     padding-top: 0;

    &--list {
    display: flex;
    gap: 30px;
    }

    &--thumb {
    position: relative;
    z-index: 0;
    }

    &--overlay {
    position: absolute;
    bottom: 0;
    left: 0;

 
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    }

    &--title {
    color: $colorHeaderBg;
    }
  
 }
}

